<section style="background: #c8e6c9; margin: 5px;">
    
    <h2 style="text-align: center;">
        Lesson : 1 Introduction
     </h2>

    <h3>Task 1 :</h3>
    
    <ul class="list">
        <!-- 
        *ngFor="let phrase of PhraseList"
        ngFor - директива для повторения HTML элементов 
        let phrase of PhraseList - создание переменной phase в которую на каждой итерации будет устанавливаться значение из массива PhraseList

        (click)="onSelect(phrase)"
        (click) - определение события, на которое необходимо установить обработчик.
        onSelect(phrase) - обработчик события, который сработает при событии onclick элемента li
        -->
        <li *ngFor="let phrase of PhraseList">
            {{phrase.value}}
        </li>
    </ul>

    <!--*ngIf="selectedPhraseLanguage" если выражение хранит значение true элемент будет добавлен в DOM-->
    <div *ngIf="selectedPhraseLanguage">
        Selected Language : {{selectedPhraseLanguage}}
    </div>
</section>