<div style="background-color:#a5d6a7; text-align: center">
    <h2> Home work 5</h2>
    <!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
    <router-outlet style="padding: 10px;"></router-outlet>
</div>