<body>
    <div>
        <h1>Каскадные таблицы стилей CSS3 часть 1</h1>
        <h2>Task 1</h2>
        <p>Выучите основные термины и понятия, рассмотренные на уроке.</p>

        <h2>Task 2</h2>
        <p>Возьмите пример статьи с первого урока, и оформите ее с помощью стилей.</p>
        <a href = "./L3_T2.html">Перейти к решению<br></a>

        <h2>Task 3</h2>
        <p>Создайте HTML страницу, на которой будут отображены параграфы с текстом, оформленные разными стилями рамок.</p>
        <a href = "./L3_T3.html">Перейти к решению<br></a>

        <h2>Task 4</h2>
        <p>Создайте 5-6 параграфом, которым задайте фон, разными способами. Одному из параграфов задайте в качестве фона изображение, поэкспериментируйте с заданием фона используя шестнадцатеричный  код цвета, имя цвета и функцию rgba.</p>
        <a href = "./L3_T4.html">Перейти к решению<br></a>

        <h2>Additional Task</h2>
        <p>Создайте HTML страницу, на которой, разместите 3 параграфа. Первому параграфу задайте inline стили, цвет и рамку, второму параграфу задайте такие же стили с помощью глобальных стилей, и третьему задайте стили во внешнем файле.</p>
        <a href = "./Additional_3.html">Перейти к доп. заданию<br></a>
    </div>
</body>