<!-- Подключение Bootstrap!-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<section style="background:#c8e6c9; margin: 5px;">
    <h2>Lesson 2. Task 2 :</h2>
    Добавьте в компонент my-table оформление с помощью стилей взятых из bootstrap. Используйте класс table и table-stripped
    <br>

    <!--в месте slice:0:3; указываем про отрисовку только первых 3х елементов !-->
    <h3>class="table" :</h3>
    <table class="table" float=center; border="1">
        <tr *ngFor="let item of ProductList | slice:0:3; let i=index">
            <product id={{item.id}} name={{item.name}} price={{item.price}}></product>
        </tr>
    </table>

    <br>

    <h3>class="table table-stripped" :</h3>
    <table class="table table-stripped" float=center; border="1">
            <tr *ngFor="let item of ProductList | slice:0:3; let i=index">
                <product id={{item.id}} name={{item.name}} price={{item.price}}></product>
            </tr>
    </table>
</section>