:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
    cursor: pointer;
}

.list > li:hover {
    font-weight: bold;
}

:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
    text-decoration: none;
    transition: all 0.5s;
    color: #E03237;
}
nav a.active {
    border-radius: 3px;
    padding: 2px 8px;
    background-color: #E03237;
    color:white;
}