<div class="lesson-title" style="background: #dcedc8;">
    <h1 style="text-align: center;">
        Lesson : 4 Services
    </h1>
    <nav>
        <!--routerLink - директива задает адрес для ссылки -->
        <!--routerLinkActive - директива устанавливает или удаляет класс в зависимости от состояния маршрута-->
        <a routerLink="/Leson4/Task1+Task2" routerLinkActive="active">Lesson 4. Task 1 + Task 2</a>
    </nav>

    <div style="margin: 10px;">
        <!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
        <router-outlet></router-outlet>
    </div>
</div>