<section *ngIf="visible" style="background: #a5d6a7; margin: 5px">
    <fieldset>
        <legend>Product</legend>
        <p>ID <b>{{id}}</b> | Name <b>{{name}}</b> | Price <b>{{price}}</b></p>
    </fieldset>
</section>