<section style="margin: 10px;" style="background: #81c784;">
    <h2>Products page</h2>
    <!-- Task 3!-->
    <section *ngIf="newProduct">
        <h3>CreateNew product</h3>
        Name <input #newNameProd> Price <input #newPriceProd> Category <select #newCategorySel>
        <option *ngFor="let item of this.productService.getCategories()">{{item}}</option>        
    </select>
        <button *ngIf="newProduct" (click)="newProduct = !newProduct; this.productService.addProduct(newNameProd.value, newPriceProd.value, newCategorySel.value)">Add product</button>
    </section>

    <button *ngIf="!newProduct" (click)="newProduct = !newProduct">Create product</button>
    <br><br>

    <!-- Category of product !-->
    <select #categorySelect>
        <option *ngFor="let item of this.productService.getCategories()">{{item}}</option>
    </select>
    <button (click)="this.productService.selectCategory(categorySelect.value)">Select</button>

    <!--в месте slice:0:N; указываем про отрисовку только первых N елементов !-->
    <table float=center; border="1">
        <tr *ngFor="let item of this.productService.getData() | slice:0:100; let i=index">
            <product *ngIf="item.category == categorySelect.value" [style.color]="item.price>500 ? 'red' : 'black'" id={{item.id}} name={{item.name}}
                price={{item.price}} category={{item.category}}>
                <!-- <button (click)="console Log("About product "+{{item.id}}+"/"+{{item.price}});">About product</button> !-->
            </product>
            <th>
                <button *ngIf="item.category == categorySelect.value" (click)="aboutProduct(item)">About product</button>
            </th>
        </tr>
    </table>

    <router-outlet></router-outlet>
</section>