<section *ngIf="visible" style="background: #a5d6a7; margin: 5px">
    <button (click)="deleteProduct()">Delete</button>
    <fieldset>
        <legend>Product from task 3</legend>
        <!---
        <ng-content></ng-content>
        !-->
        <p>ID <b>{{id}}</b> | Name <b>{{name}}</b> | Price <b>{{price}}</b></p>
    </fieldset>
</section>