<section style="background:#c8e6c9; margin: 5px;">
    <h2>Lesson 2. Task 3 :</h2>
    Добавьте в компонент my-table напротив каждой строки кнопку удалить. <br> Сделайте так, чтобы при нажатии на эту кнопку
    удалялся элемент из таблицы и происходило событие delete. <br> Событие delete должен фиксировать родительский компонент,
    при этом в консоль нужно отображать id удаленного компонента. <br>

    <table class="table table-stripped" float=center; style="background:#81c784; margin: 5px;">
        <tr *ngFor="let item of ProductList">
            <td align="left">   
                <product></product>             
            </td>        
        </tr>
    </table>

</section>