<body>
    <div>
        <h1>Каскадные таблицы стилей CSS3 часть 2</h1>
        <h2>Task 1</h2>
        <p>Выучите основные термины и понятия, рассмотренные на уроке.</p>

        <h2>Task 2</h2>
        <p>Создайте страницу на которой расположите различные элементы разметки, затем используйте псевдоклассы и псевдоэлементы для задания стилей различным элементам разметки и добавления новых элементов.</p>
        <a href = "./L4_T2.html">Перейти к решению<br></a>

        <h2>Additional Task</h2>
        <p>Создайте на страницу несколько параграфов и оформите их разным размером и стилем шрифта</p>
        <a href = "./Additional_4.html">Перейти к доп. заданию<br></a>
    </div>
</body>