<div class="lesson-title" style="background: #dcedc8;">
    <h1 style="text-align: center;">
        Lesson : 6 Forms
    </h1>
    <button (click)="taskInfo = !taskInfo">Task info</button>
    <br>
        <section *ngIf="taskInfo">
        <h2>Lesson 6. Task 1 :</h2>
        Используя Template Driven форм добавьте проверку данных введённых пользователем.<br>
        Все поля должны быть обязательным для ввода.<br> 
        Кроме этого, поле name должно содержать значение не меньше 4х символов.<br> 
        Кнопка submit должна быть активна только в том случае если все значения, введенные в форму, корректные.<br>
        <h2>Lesson 6. Task 2 :</h2>
        Создайте вторую версию компонента из задания №1 используйте подход Data Driven.<br>
    </section>    
    <br>
    <nav>
        <!--routerLink - директива задает адрес для ссылки -->
        <!--routerLinkActive - директива устанавливает или удаляет класс в зависимости от состояния маршрута-->
        <a routerLink="/lesson_6/home" routerLinkActive="active">Home</a> |
        <a routerLink="/lesson_6/products" routerLinkActive="active">Products</a> |
        <a routerLink="/lesson_6/admin" routerLinkActive="active">Admin</a>
    </nav>

    <div style="margin: 10px;">
        <h2>Home work 6 - Forms</h2>
        <!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
        <router-outlet></router-outlet>
    </div>
</div>