<section *ngIf="product" style="background: #a5d6a7; margin: 5px; text-align: center">
    <fieldset>
        <legend>Selected Product</legend>
        <p>Id <b>{{product.id}}</b> | Name <b>{{product.name}} </b> | Price <b>{{product.price}} </b> | Category <b>{{product.category}} </b></p>
    </fieldset>
</section>