<body>
    <div>
        <h1>Семантика HTML5. Новые теги</h1>
        <h2>Task 1</h2>
        <p>Выучите основные термины и понятия, рассмотренные на уроке.</p>

        <h2>Task 2</h2>
        <p>Возьмите пример страницы с предыдущего урока и сверстайте ее с использованием тегов семантической разметки.</p>
        <a href = "./L6_T2.html">Перейти к решению<br></a>
		
		<h2>Task 3</h2>
        <p>Создайте страницу, на которую добавьте видео, и задайте ему размеры. Предусмотрите возможность использования нескольких источников для видео, если браузер не поддерживает тот или иной формат.</p>
        <a href = "./L6_T3.html">Перейти к решению<br></a>

        <h2>Task 4</h2>
        <p>Создайте страницу, на которую добавьте аудио дорожку. Предусмотрите возможность использования нескольких источников для аудио, если браузер не поддерживает тот или иной формат.</p>
        <a href = "./L6_T3.html">Перейти к решению<br></a>

        <h2>Additional Task</h2>
        <p>Поэкспериментируйте с элементами, появившимися в стандарте HTML5</p>
        <a href = "./Additional_6.html">Перейти к доп. заданию<br></a>
    </div>
</body>