<body>
    <div>
        <h1>Тег DIV. Позиционирование элементов</h1>
        <h2>Task 1</h2>
        <p>Выучите основные термины и понятия, рассмотренные на уроке.</p>

        <h2>Task 2</h2>
        <p>Сверстайте структуру HTML страницы по шаблону block в папке с домашним заданием.</p>
        <a href = "./L5_T2.html">Перейти к решению<br></a>
		
		<h2>Task 3</h2>
        <p>Реализуйте разметку, подобную изображению stickers в папке с домашними заданиями.</p>
        <a href = "./L5_T3.html">Перейти к решению<br></a>

        <h2>Additional Task</h2>
        <p>Создайте на странице 10 параграфов зеленого цвета, размером 100рх х 100рх. Задайте им зелёный цвет и расположите горизонтально друг за другом</p>
        <a href = "./Additional_5.html">Перейти к доп. заданию<br></a>
    </div>
</body>