<section style="background:#c8e6c9; margin: 5px;">
    <section *ngIf="taskInfo">
        <h2>Lesson 4. Task 1 :</h2>
        Проведите рефакторинг кода, сделанного по любому заданию из урока №3.<br> Перепишите код таким образом, чтобы значения
        массива products предоставлялись компоненту через сервис.<br>
       <h2>Lesson 4. Task 2 :</h2>
        Создайте объект<br> 
        let data = getData: function()[вернуть массив products]<br>  
        Измените код первого задания так, чтобы он использовал объект data в качестве сервиса.<br>
    </section>
    <button (click)="taskInfo = !taskInfo">Task info</button>
    <br><br>

    <!-- Task 3!-->
    <section *ngIf="newProduct">
        <h3>CreateNew product</h3>
        Name <input #newNameProd> Price <input #newPriceProd> Category <select #newCategorySel>
        <option *ngFor="let item of this.productService.getCategories()">{{item}}</option>        
    </select>
        <button *ngIf="newProduct" (click)="newProduct = !newProduct; this.productService.addProduct(newNameProd.value, newPriceProd.value, newCategorySel.value)">Add product</button>

    </section>
    <button *ngIf="!newProduct" (click)="newProduct = !newProduct">Create product</button>
    <br><br>

    <!-- Task 2!-->
    <select #categorySelect>
        <option *ngFor="let item of this.productService.getCategories()">{{item}}</option>
    </select>
    <button (click)="this.productService.selectCategory(categorySelect.value)">Select</button>

    <!--в месте slice:0:N; указываем про отрисовку только первых 3х елементов !-->
    <table float=center; border="1">
        <tr *ngFor="let item of this.productService.getData() | slice:0:100; let i=index">
            <product *ngIf="item.category == categorySelect.value" [style.color]="item.price>500 ? 'red' : 'black'" id={{item.id}} name={{item.name}}
                price={{item.price}} category={{item.category}}></product>
        </tr>
    </table>
</section>