<section style="margin: 10px;" style="background: #81c784;">
    <h2>Products page</h2>

    <!-- Task 3 for Lesson 6!-->
    <div *ngIf="newProduct2" class="container" style="background: wheat;">
        <h3>Create New product. Reactive Form</h3>
        
        <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name :</label>
                <input #newNameProd2 id="name" type="text" class="form-control" formControlName="name" required/>
                <div *ngIf="formErrors.name" class="alert alert-danger">
                    {{ formErrors.name }}
                </div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input #newPriceProd2 id="price" class="form-control" formControlName="price" required />
                <div *ngIf="formErrors.price" class="alert alert-danger">
                    {{ formErrors.price }}
                </div>
            </div>

            <label>Category</label><br>
            <select #newCategorySel2>
            <option *ngFor="let item of this.productService.getCategories()">{{item}}</option>
            </select><br><br>

            <button type="submit" class="btn btn-default" [disabled]="!newProductForm.valid" 
            (click)="this.productService.addProduct(newNameProd2.value, newPriceProd2.value, newCategorySel2.value); newProduct2 = !newProduct2;">Add new product</button>
        </form>
    </div>
    <button *ngIf="!newProduct2" (click)="newProduct2 = !newProduct2">Create product(validation)</button>
    <br><br>

    <!-- Task 3!-->
    <section *ngIf="newProduct">
        <h3>Create New product</h3>
        Name <input #newNameProd> Price <input #newPriceProd> Category <select #newCategorySel>
        <option *ngFor="let item of this.productService.getCategories()">{{item}}</option>        
    </select>
        <button *ngIf="newProduct" (click)="newProduct = !newProduct; this.productService.addProduct(newNameProd.value, newPriceProd.value, newCategorySel.value)">Add product</button>
    </section>
    <button *ngIf="!newProduct" (click)="newProduct = !newProduct">Create product(old)</button>
    <br><br>

    <!-- Category of product !-->
    <select #categorySelect>
        <option *ngFor="let item of this.productService.getCategories()">{{item}}</option>
    </select>
    <button (click)="this.productService.selectCategory(categorySelect.value)">Select</button>

    <!--в месте slice:0:N; указываем про отрисовку только первых N елементов !-->
    <table float=center; border="1">
        <tr *ngFor="let item of this.productService.getData() | slice:0:100; let i=index">

            <product *ngIf="item.category == categorySelect.value" [style.color]="item.price>500 ? 'red' : 'black'" id={{item.id}} name={{item.name}}
                price={{item.price}} category={{item.category}}>
            </product>
            <th>
                <button *ngIf="item.category == categorySelect.value" (click)="aboutProduct(item)">About product</button>
            </th>
        </tr>
    </table>

    <router-outlet></router-outlet>
</section>