:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
    cursor: pointer;
}

.list > li:hover {
    font-weight: bold;
}

expensive {
    color: red;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 5px solid mediumseagreen; 
}

.ng-invalid:not(form)  {
  border-bottom: 5px solid red; 
}