<div class="lesson-title" style="background: #dcedc8;">
    <h1 style="text-align: center;">
        Lesson : 5 Routing
    </h1>
    <button (click)="taskInfo = !taskInfo">Task info</button>
    <br>
        <section *ngIf="taskInfo">
        <h2>Lesson 5. Task 1 :</h2>
        Создайте приложение, в котором будет находиться три функциональные области:<br> 
        <strong>Home</strong> – отображение приветственного сообщения<br>
        <strong>Products</strong> – работа со списком продуктов<br> 
        <strong>Admin</strong> – управления продуктами (в данной версии приложения вывести сообщение,<br>
        о том, что это главная страница админ части приложения).<br>
        В app.component создайте меню из трех пунктов и настройте маршрутизацию таки образом,<br> 
        чтобы переход по ссылке направлял пользователя на соответствующий компонент,<br>
        относящийся к его функциональной области.<br>
        <h2>Lesson 5. Task 2 :</h2>
        В приложении, созданном в первом задание, реализуйте шаблон Master/Details.<br> 
        Используйте сервис из предыдущего урока, для того чтобы получить доступ<br> 
        к списку продуктов (по необходимости модифицируйте сервис).<br> 
        В главном компоненте отображайте только названия продуктов,<br> 
        при клике по продукту, перенаправляйте пользователя на компонент,<br> 
        который будет показывать детали выбранного продукта.<br>
        <h2>Lesson 5. Task 3 :</h2>
        Проведите рефакторинг кода задания 2 и примените дочерние маршруты для отображения деталей выбранного продукта.<br>
        Детали отображайте под списком всех продуктов в одном представлении.<br> 
    </section>    
    <br>
    <nav>
        <!--routerLink - директива задает адрес для ссылки -->
        <!--routerLinkActive - директива устанавливает или удаляет класс в зависимости от состояния маршрута-->
        <a routerLink="/home" routerLinkActive="active">Home</a> |
        <a routerLink="/products" routerLinkActive="active">Products</a> |
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
    </nav>

    <div style="margin: 10px;">
        <!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
        <router-outlet></router-outlet>
    </div>
</div>