<section style="background:#c8e6c9; margin: 5px;">
    <h2>Lesson 3. Task 1 :</h2>
    Расширите шаблон компонента, сделанный в задание №1 к уроку №2 «Компоненты».<br> Добавьте в шаблон возможность изменять
    цвет текста строки таблицы на красный, в случае если значение свойства price > 500.<br>
    <br>

    <!--в месте slice:0:N; указываем про отрисовку только первых 3х елементов !-->
    <table float=center; border="1">
        <tr *ngFor="let item of ProductList | slice:0:10; let i=index">
            <product [style.color]="item.price>500 ? 'red' : 'black'"
            id={{item.id}} name={{item.name}} price={{item.price}} category={{item.category}}></product>
        </tr>
    </table>
</section>