<section style="background:#c8e6c9; margin: 5px;">
    <h2>Lesson 3. Task 2 :</h2>
    Добавьте в источник данных для предыдущего примера свойство Category.<br> 
    Это свойство должно хранить одно из трех возможных значений – Category 1, Category 2, Category 3.<br>
    Добавьте в шаблон компонента выпадающий список со значениями категорий.<br> 
    Реализуйте логику фильтрации данных в таблице таким образом, 
    чтобы при смене значения в выпадающем списке, в таблице оставались только записи относящиеся к выбранной категории.<br>
    <br>

    <!-- Task 2!-->
    <select #categorySelect>
        <option *ngFor="let item of CategoryList">{{item}}</option>
    </select>    
    <button (click)="selectCategory(categorySelect.value)">Select</button>

    <!--в месте slice:0:N; указываем про отрисовку только первых 3х елементов !-->
    <table float=center; border="1">
        <tr *ngFor="let item of ProductList | slice:0:10; let i=index">
            <product *ngIf="item.category == categorySelect.value"
            [style.color]="item.price>500 ? 'red' : 'black'"
            id={{item.id}} name={{item.name}} price={{item.price}} category={{item.category}}></product>
        </tr>
    </table>
</section>