<h1>Создайте страницу, на которой разместите теги физической разметки.</h1>
<div>
    <h3>Теги физической разметки</h3>    
    <p>Физическое форматирование текста – это для придания тексту некоторых визуальных отличий.</br>
    Теги физического формирования:</p>

    &lt;b&gt;...&lt;b/&gt; <b>текст в теге</b> - придает тексту жирное начертание.</br>
    &lt;bdi&gt;...&lt;bdi/&gt; <bdi>текст в теге</bdi> - указывает фрагмент текста, который должен быть изолирован от изменения направления вывода текста. (HTML5).</br>
    &lt;bdo&gt;...&lt;bdo/&gt; <bdo>текст в теге</bdo> - устанавливает направление вывода текста.</br>
    &lt;i&gt;...&lt;i/&gt; <i>текст в теге</i> - придает тексту курсивное начертание.</br>
    &lt;s&gt;...&lt;s/&gt; <s>текст в теге</s> - отображает текст как перечеркнутый.</br>
    &lt;small&gt;...&lt;small/&gt; <small>текст в теге</small> - делает текст на одну условную единицу меньше.</br>
    &lt;big&gt;...&lt;big/&gt; <big>текст в теге</big> - делает текст на одну условную единицу больше.</br>
    &lt;sup&gt;...&lt;sup/&gt; <sup>текст в теге</sup> - помещает содержимое в верхний индекс.</br>
    &lt;sub&gt;...&lt;sub/&gt; <sub>текст в теге</sub> - помещает содержимое в нижний индекс.</br>
    &lt;meter&gt;...&lt;meter/&gt; <meter>текст в теге</meter> - используется для вывода значения в некотором известном диапазоне. (HTML5).</br>
    &lt;progress&gt;...&lt;progress/&gt; <progress>текст в теге</progress> - используется для отображения прогресса завершенности. (HTML5).</br>
</div>