<h1>Создайте страницу, на которой будут размещены теги логической разметки. </br>
    Запустите этот и предыдущий примеры в разных браузерах. </br>
    Отличаются ли элементы в разных браузерах?</h1>
<div>
    <h3>Теги логической разметки</h3>    
    <p>Логическое форматирование текста – форматирование текста предназначенное для удобства работы с ним поисковых систем и прочих программ, например, различных читалок.</br>
    Теги логического формирования:</p>

    &lt;abbr&gt;...&lt;abbr/&gt; <abbr>текст в теге</abbr> - указывает, что текст внутри элемента является аббревиатурой. В атрибуте title</br>
    &lt;cite&gt;...&lt;cite/&gt; <cite>текст в теге</cite>	- текст является сноской или цитатой.</br>
    &lt;code&gt;...&lt;code/&gt; <code>текст в теге</code>	- предназначен для хранения текста, который представляет собой программный код.</br>
    &lt;strong&gt;...&lt;strong/&gt; <strong>текст в теге</strong>	- задает тексту жирное начертание.</br>
    &lt;em&gt;...&lt;em/&gt; <em>текст в теге</em>	- задает тексту курсивное начертание.</br>
    &lt;del&gt;...&lt;del/&gt; <del>текст в теге</del>	- используется для выделения текста, который был удален в новой версии документа.</br>
    &lt;ins&gt;...&lt;ins/&gt; <ins>текст в теге</ins>	- предназначен для выделения текста, который был добавлен в новую версию документа.</br>
    &lt;mark&gt;...&lt;mark/&gt; <mark>текст в теге</mark>	- помечает текст как выделенный.</br>
    &lt;q&gt;...&lt;q/&gt; <q>текст в теге</q>	- выделяет текст в цитату.</br>
    &lt;samp&gt;...&lt;samp/&gt; <samp>текст в теге</samp>	- текст, который выводится в результате работы какой-либо программы.</br>
    &lt;var&gt;...&lt;var/&gt; <var>текст в теге</var>	- используется для выделения переменных компьютерных программ.</br>
</div>