<body>
    <div>
        <h1>Chapter 1 Introduction (1. Введение в HTML5)</h1>
        <h2>Task 1</h2>
        <p>Выучите основные термины и понятия, рассмотренные на уроке.</p>

        <h2>Task 2</h2>
        <p>Создайте страницу, на которой разместите теги физической разметки.</p>
        <a href = "./L1_T2.html">Перейти к решению<br></a>

        <h2>Task 3</h2>
        <p>Создайте страницу, на которой будут размещены теги логической разметки. Запустите этот и предыдущий примеры в разных браузерах. Отличаются ли элементы в разных браузерах?</p>
        <a href = "./L1_T3.html">Перейти к решению<br></a>

        <h2>Task 4</h2>
        <p>Создайте страницу, которая находится в каталоге HW.</p>
        <a href = "./HW/L1_T4.html">Перейти к решению<br></a>

        <h2>Additional Task</h2>
        <p>Создайте HTML страницу, на которой, с помощью тега h1 выведите приветствие к пользователю.</p>
        <a href = "./Additional_1.html">Перейти к доп. заданию<br></a>
    </div>
</body>