
<section style="background:#c8e6c9; margin: 5px;">
    <h2>Lesson 2. Task 1 :</h2>
    Данные должны выводиться в три столбца. 
    Компонент должен использовать параметр rows с помощью, которого можно установить количество строк, которые отображаются в таблице.
    Например: '<'my-table rows=”3”>'<'/my-table> при, таком использовании, в таблице должны отображаться первые три строки.

    <!--в месте slice:0:3; указываем про отрисовку только первых 3х елементов !-->
    <table float=center; border="1">
        <tr *ngFor="let item of ProductList | slice:0:3; let i=index">
            <product id={{item.id}} name={{item.name}} price={{item.price}}></product>
        </tr>
    </table>
    
    <br>
    Так выводиться компонент продукт :
    <product id="1" name="2" price="10"></product>
</section>