<h1>Создайте HTML страницу, на которой, будет размещено одно изображение с локального компьютера, одно изображение с удаленного источника, таблицы 3*3, и различные виды списков.</h1>
<div>
    <h3>Одно изображение с локального компьютера :</h3>
    <img src="img/cottage-icon.png" alt="Building" title="Building">

    <h3>Одно изображение с удаленного источника :</h3>
    <img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-11/128/Laptop-wifi-icon.png" title="Laptop - electronic device" alt="Laptop">

    <h3>Таблицы 3*3 :</h3>
    <table border="1">
        <tr>
            <td>
                1.1
            </td>
            <td>
                1.2
            </td>
            <td>
                1.3
            </td>
        </tr>
        <tr>
            <td>
                2.1
            </td>
            <td>
                2.2
            </td>
            <td>
                2.3
            </td>
        </tr>
        <tr>
            <td>
                3.1
            </td>
            <td>
                3.2
            </td>
            <td>
                3.3
            </td>
        </tr>
    </table>

   <h2>Различные виды списков</h2> 
   <h3>Простой список:</h3>
   <ul>
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
    </ul>

   <h3>Различные виды списков</h3> 
    <ul type="disc">
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
    </ul>

    <ul type="circle">
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
    </ul>

    <ul type="square">
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
    </ul>

   <h3>Различные виды нумерованных списков</h3>   
    <!-- Обычный нумерованный список -->
    <ol>
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
    </ol>

    <ol type="i"> <!-- Попробовать значения: a, I, i, 1 -->
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
    </ol>

    <ol reversed>
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
    </ol>

    <ol start="5">
        <!-- Попробовать значения: a, I, i, 1 -->
        <li>Microsoft</li>
        <li>Google</li>
        <li value="11">Apple</li> <!-- Добавить атрибут value-->   
        <li>IBM</li>
    </ol>

   <h3>Вложенные списки</h3>      
   <ol>
        <li>Первое
            <ol>
                <li>Елемент 1</li>
                <li>Елемент 2</li>
                <li>Елемент 3</li>
            </ol>
        </li>
        <li>
            Второе
            <ol>
                <li>Черный чай</li>
                <li>Зеленый чай</li>
            </ol>
        </li>
    </ol>

    <h3>Список определений:</h3>
    <dl>
        <dt>Молоко</dt>
        <dd>Белый холодный напиток.</dd>
        <dt>Кофе</dt>
        <dd>Черный гарячий напиток.</dd>
    </dl>
</div>