<h1>Создайте страницу, на которой разместите карту изображение, представленную в материалах урока.</h1>
<div>
    <h3>Карта-изображение</h3>    
    <p>Для представления графического изображения в виде карты с активными областями служит тег &lt;map&gt;</br>
        Активную область можно определить по изменению вида курсора.</br> 
        Щелкая мышью на активных областях, можно переходить на разные адреса.</br>
        </br>
        Связывание изображения с описанными областями происходит с помощью атрибута usemap у изображения и атрибута name у карты областей.</br>
        </br>
        Тег &lt;map&gt;&lt;map/&gt; содержит области описанные тегом &lt;area/&gt;, который имеет следующие атрибуты:</p>

    alt – альтернативный текст для области изображения.</br>
    coords – координаты активной области.</br>
    href – адрес документа, на который ведет ссылка.</br>
    hreflang – язык документа, на который ведет ссылка (HTML5).</br>
    shape – форма области.</br>
    target – имя окна или фрейма, куда браузер будет загружать документ.</br>
    type – устанавливает MIME-тип документа, на который ведет ссылка.</br>

    <map alt="альтернативный текст для области изображения" ></map>

    <h3>Пример :</h3> 
   <div><img src="img/cottage-icon.png" width="640" height="30" alt="Навигация по сайту"
    usemap="#Navigation"></div>
   <p><map id="Navigation" name="Navigation">
    <area shape="poly" coords="113,24,211,24,233,0,137,0" href="inform.html" alt="Информация">
    <area shape="poly" coords="210,24,233,0,329,0,307,24" href="activity.html" alt="Мероприятия">
    <area shape="poly" coords="304,24,385,24,407,0,329,0" href="depart.html" alt="Отделения">
    <area shape="poly" coords="384,24,449,24,473,0,406,0" href="techinfo.html" alt="Техническая информация">
    <area shape="poly" coords="449,24,501,24,525,0,473,0" href="study.html" alt="Обучение">
    <area shape="poly" coords="501,24,560,24,583,0,525,0" href="work.html" alt="Работа">
    <area shape="poly" coords="560,24,615,24,639,0,585,0" href="misk.html" alt="Разное">
   </map></p>
</div>