<h1>Создайте страницу, на которой будет размещена таблица из шаблона в материалах.</h1>
<div>
    <h3>Таблица</h3>    
    Тег &lt;table&gt;&lt;table/&gt; является основным контейнером для элементов таблицы и все теги, относящиеся к таблице, должны располагаться в нем.</br>
    </br>
    &lt;thead&gt;&lt;thead/&gt; - предназначен для хранения одной или нескольких строк, которые представлены вверху таблицы.</br>
    &lt;tbody&gt;&lt;tbody/&gt; - предназначен для хранения содержимого	таблицы. Позволяет создавать структурные блоки и управлять их оформлением с помощью стилей.</br>   
    &lt;tfoot&gt;&lt;tfoot/&gt; - предназначен для хранения информации, которая будет отображена внизу таблицы. В коде должен быть определен до тела таблицы, хотя отображается внизу.</br>
    
    <h3>Таблица пример :</h3>
    <table>
        <thead style="color: red">
            <tr>
                <td>Номер</td>
                <td>Имя продукта</td>
                <td>Цена</td>
                <td>Количество</td>
            </tr>
        </thead>
        <tfoot style="color: orange">
            <tr>
                <td>Номер</td>
                <td>Имя продукта</td>
                <td>Цена</td>
                <td>Количество</td>
            </tr>
        </tfoot>
        <tbody  style="color: green">
            <tr>
                <td>1.</td>
                <td>Лимон</td>
                <td>45.5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Апельсин</td>
                <td>32,8</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Банан</td>
                <td>24,99</td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
</div>