<h1>Создайте список, у которого элементами являются вложенные списки.</h1>
<div>
   <h3>Пример</h3>    
   
   <ol>
        <li>Первое
            <ol>
                <li>Елемент 1</li>
                <li>Елемент 2</li>
                <li>Елемент 3</li>
            </ol>
        </li>
        <li>
            Второе
            <ol>
                <li>Черный чай</li>
                <li>Зеленый чай</li>
            </ol>
        </li>
        <li>Третье
            <ol>
                <li>Закуски</li>
                <li>Хлебчик</li>
            </ol>
        </li>
    </ol>
</div>