<body>
    <div>
        <h1>Chapter 2 Images (2. Работа с изображениями, таблицами и списками)</h1>
        <h2>Task 1</h2>
        <p>Выучите основные термины и понятия, рассмотренные на уроке.</p>

        <h2>Task 2</h2>
        <p>Создайте страницу, на которой разместите карту изображение, представленную в материалах урока.</p>
        <a href = "./L2_T2.html">Перейти к решению<br></a>

        <h2>Task 3</h2>
        <p>Создайте страницу, на которой будет размещена таблица из шаблона в материалах.</p>
        <a href = "./L2_T3.html">Перейти к решению<br></a>

        <h2>Task 4</h2>
        <p>Создайте список, у которого элементами являются вложенные списки.</p>
        <a href = "./L2_T4.html">Перейти к решению<br></a>

        <h2>Additional Task</h2>
        <p>Создайте HTML страницу, на которой, будет размещено одно изображение с локального компьютера, одно изображение с удаленного источника, таблицы 3*3, и различные виды списков.</p>
        <a href = "./Additional_2.html">Перейти к доп. заданию<br></a>
    </div>
</body>