<div style="margin: 10px;" style="background: #81c784; text-align: center">
    <h2>Home page!</h2>
    <section style="padding: 10px;">
        You located on <strong>Home page</strong>
    </section>    
</div>