<h1 class="lesson-title">
	Home work Angular 2
</h1>
<!--<my-introduction>Loading my-introduction...</my-introduction>!-->

<nav>
	<!--routerLink - директива задает адрес для ссылки -->
	<!--routerLinkActive - директива устанавливает или удаляет класс в зависимости от состояния маршрута-->
	<a routerLink="/les1" routerLinkActive="active">Lesson 1. Introduction</a> |
	<a routerLink="/les2" routerLinkActive="active">Lesson 2. Components</a> |
	<a routerLink="/les3" routerLinkActive="active">Lesson 3. Directives</a> |
	<a routerLink="/les4" routerLinkActive="active">Lesson 4. Services</a> |
	<a routerLink="/les5" routerLinkActive="active">Lesson 5. Routing</a> |
	<a routerLink="/les6" routerLinkActive="active">Lesson 6. Forms</a> |
	<a routerLink="/les7" routerLinkActive="active">Lesson 7. HTTP</a> |
	<a routerLink="/additional" routerLinkActive="active">Additional</a>
</nav>

<div style="margin: 10px;">
	<!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
	<router-outlet></router-outlet>
</div>

<div>
	<h1 style="background: darkgrey; text-align: center">
	Footer here
</h1>
</div>