<section *ngIf="visible" style="background: #a5d6a7; margin: 5px; text-align: center">
    <fieldset>
        <legend>Product</legend>
        <p>Name <b>{{name}}</b> | Price <b>{{price}} </b></p>
    </fieldset>
</section>