<div class="lesson-title" style="background: #dcedc8;">
    <h1 style="text-align: center;">
        Lesson : 3 Directives
    </h1>
    <nav>
        <!--routerLink - директива задает адрес для ссылки -->
        <!--routerLinkActive - директива устанавливает или удаляет класс в зависимости от состояния маршрута-->
        <a routerLink="/Leson3/Task1" routerLinkActive="active">Lesson 3. Task 1</a> |
        <a routerLink="/Leson3/Task2" routerLinkActive="active">Lesson 3. Task 2</a> |
        <a routerLink="/Leson3/Task3" routerLinkActive="active">Lesson 3. Task 3</a>
    </nav>

    <div style="margin: 10px;">
        <!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
        <router-outlet></router-outlet>
    </div>
</div>